* { box-sizing: border-box }
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0; /* tek út sjálgefið 10px margin */
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font: 400 1em/1.5 sans-serif; /* samsett skipun: weight/height, size, family */
    background-color:#4557FF;
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
    color: black;
}
.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
.topbutt {
    display: block;
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    border-radius: 100%;
    padding: 0 .4em;
    font-size: 2em;
    border: 2px solid;
    color: blue;

}
.bgcolor {
    background-color: #2EACFF;
    padding: 1em;
}
.headcolor, .footcolor{
    color: white;
}
.topnav a, .footnav a{
    color: white;
    text-decoration: none;
}
.copy {
    color: white;
    text-align: center;
}
blockquote {
    background-color: rgba(255,255,255,.3);
    padding: 1em;
}
/* grid */
.nav1 {
    grid-area: nav1;
}
.nav2 {
    grid-area: nav2;
}
.nav3 {
    grid-area: nav3;
}
.nav4 {
    grid-area: nav4;
}
.container-col {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.grid-container {
    display: grid;
}
.gap-4 {
    grid-gap: 4em
}
.innermenu {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.innermenu a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: .5em;
    border-right: 1px solid black;
}
.innermenu a:hover, .innermenu a:active{
    color: white;
    background-color: black;
    border: 1px solid white;
    border-right: 1px solid black;
}
.innermenu a:last-child{
    border: 0;
}
.topnav {
    text-align: right;
}
audio {
    width: 100%;
}
