* {
    box-sizing: border-box /* padding og border gildi leggjast inní heildarbreidd * allra taga */
}
body {
    margin: 0 auto;
    max-width:90em;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* -- GRID AREA -- */
.body {
    grid-area: body;
}
.haus {
    grid-area: haus;
    text-align: center;
    height: 40vh;
}
.topnav {
    grid-area: topnav;
}
.content {
    grid-area: content;
}.foot {
    grid-area: foot;
}
/*-- dálkar í main --*/
.as1 {
    grid-area: as1;
}
.as2 {
    grid-area: as2;
}
.art1 {
    grid-area: art1;
}
/*-- template area --*/
.body {
    display: grid;
    grid-template-areas:
        "haus"
        "topnav"    
        "content"
        "foot"
}
.main {
    display: grid; /* grid virkar á barn ekki barnabarn*/
    grid-template-areas:
        "as1 art1 as2";
    grid-template-columns: 1fr 1fr 1fr;

}

.topmenu li, .footmenu li {
    list-style-type: none;
}
.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;  
    margin: 0;
    padding: 5px;
    background-color: #A831EB;
}
.footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;  
    margin: 0;
    padding: 1em 0; /* top+bottom 1em / L&R 0 */
    background-color: #A831EB;
}
.foot {
    bottom: 0;
}
 .art1, .as1, .as2 {
    padding: 1em;
}
h1, h2, h3, p {
    color: #2159FF;
}




