* {
    box-sizing: border-box /* padding og border gildi leggjast inní heildarbreidd * allra taga */
}
body {
    max-width: 60em; /* 960px - 1080px - tölvuskjár */
    margin: 1em auto;
    border: 1px solid black;
}
/* -- GRID AREA -- */
.body {
    grid-area: body;
}
.haus {
    grid-area: haus;
    text-align: center;
}
.topnav {
    grid-area: topnav;
}
.main {
    grid-area: main;
}.foot {
    grid-area: foot;
}
/*-- dálkar í main --*/
.as1 {
    grid-area: as1;
}
.as2 {
    grid-area: as2;
}
.art1 {
    grid-area: art1;
}
/*-- template area --*/
.body {
    display: grid;

    grid-template-areas:
        "topnav"    
        "haus"
        "main"
        "foot"
}
.main {
    display: grid; /* grid virkar á barn ekki barnabarn*/
    grid-template-areas:
        "as1 art1 as2";
    grid-template-columns: 1fr 3fr 1fr;
}
/*-- top menu --*/
.topmenu li, .footmenu li {
    list-style-type: none;
}
.topmenu , .footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding: 1em 0; /* top+bottom 1em / L&R 0 */
    background-color: #d3d3d3;
}
 .art1, .as1, .as2 {
    border: 1px solid black;
    padding: 1em;
}
.haus, .main, .foot {
    border: 1px solid black;
}




